body 
{
    font-family: 'Pacifico', cursive;
    font-style: normal;
    background: linear-gradient(#bface0,#cbd4ff,#b69fdf, #b0ccdd,  #856fab);
}

#h3
{
font-size: 50px;
}

#yoursketch,#confidence,#sketch,#score,#timer
{
font-size:25px;
font-family: 'Pacifico', cursive;
}





canvas 
  {
    border:5px solid white;
    border-radius:20px;
    margin-top:150px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px grey;}
  to {box-shadow: 1px 1px 38px white;}

}

#myCanvas {

    position:absolute;
    left:100px;
}